* {
  padding: 0;
  margin: 0;
}

body {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-image: url('pokemon.jpeg');
  background-attachment: fixed;
  background-size: contain;
}

header {
  font-size: 300%;
  color: darkred;
  font-family: 'Titan One';
}

header>span {
  font-size: 24px;
  position: relative;
  bottom: 40px;
  left: 140px;
}

.main {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

form {
  text-align: center;
  width: 33%;
  font-family: 'Titan One';
}

form>label,
form>button {
  font-size: 150%;
}

#PokeName {
  width: 80%;
  height: 36px;
  border-radius: 20px;
  padding-left: 15px;
}

#search-btn,
.remove-Btn,
.addTeamBtn,
.clickModalBtn,
.saveToTeam,
.createTeamBtn {
  background-color: rgb(240, 159, 93);
  border-radius: 20px;
  padding: 0px 10px;
  margin-top: 20px;
}

#search-btn:hover,
.remove-Btn:hover,
.addTeamBtn:hover,
.clickModalBtn:hover,
.saveToTeam:hover,
.createTeamBtn:hover {
  background-color: yellow;
}

.invalid:after {
  content: "Please enter a valid Pokemon!";
  color: red;
}

.modal {
  display: none;
  /* Hidden by default */
  position: fixed;
  /* Stay in place */
  z-index: 1;
  /* Sit on top */
  left: 0;
  top: 0;
  width: 100%;
  /* Full width */
  height: 100%;
  /* Full height */
  overflow: auto;
  /* Enable scroll if needed */
  background-color: rgb(0, 0, 0);
  /* Fallback color */
  background-color: rgba(0, 0, 0, 0.4);
  /* Black w/ opacity */
}

/* Modal Content/Box */
.modal-content {
  background-color: #fefefe;
  margin: 15% auto;
  /* 15% from the top and centered */
  padding: 20px;
  border: 1px solid #888;
  width: 80%;
  /* Could be more or less, depending on screen size */
}

/* The Close Button */
.close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

.pokeCard > p,
.pokeType {
  text-transform: capitalize;
}

.createTeamBtn,
.saveToTeam,
.PokemonStat {
  font-family: 'Titan One';
}

.modalPokemonName {
  text-transform: capitalize;
  font-family: 'Titan One';
}

.pokeType,
.pokeWeak,
.pokeEffectiveness {
  text-transform: capitalize;
}

#quote {
font-size: 150%;
font-style: italic;
text-align: center;
}
  
#author {
  font-size: 125%;
}

#quote {
  font-size: 150%;
  font-style: italic;
  text-align: center;
}

.anime-quote {
  max-width: 600px;
  margin-bottom: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 30px;
}